{% extends 'base.html' %}

{% block content %}
    <h1>Zakończono grę {{ game.link }}</h1>

    Wygrał gracz: {% if winner == "brak" %}<i>gra się jeszcze nie rozpoczęła</i>
    {% else %}{{ winner }}{% endif %}
    <br>

    {% if plot == "" %}
        <br>(<i>brak wykresu</i>)<br><br>
        {{ plot }}
    {% else %}
        <img src='data:image/png;base64,{{ plot }}'>
    {% endif %}

    <table border="1">
        <tr>
            <th>
                Tura
            </th>
            {% for player in players %}
                <th>
                    {{ player.name }}
                </th>
            {% endfor %}
        </tr>
        {% for single in time_results %}
            <tr>
                <td>
                    {{ forloop.counter }}
                </td>
                {% for player in single %}
                    <td>
                        {{ player.4 }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        {% if winner == "brak" %}
            <tr><td>0</td>
            {% for player in players %}
                <td>0</td>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}